.root {
  position: relative;
  margin-top: 25px;
  padding: 15px;
  padding-right: 0;
  cursor: default;
  touch-action: none;
  background: #bbada0;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
}

.gridContainer {
  position: absolute;
  z-index: 1;
}

.gridRow {
  display: flex;
  margin-bottom: 15px;
}

.gridCell {
  width: 106.25px;
  height: 106.25px;
  margin-right: 15px;
  border-radius: 3px;
  background: rgba(238,228,218,.35);
}
