.root {
  position: relative;
  margin-top: 25px;
  padding: 15px;
  padding-right: 0;
  cursor: default;
  touch-action: none;
  background: #bbada0;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
}

.gridContainer {
  position: absolute;
  z-index: 1;
}

.gridRow {
  display: flex;
  margin-bottom: 15px;
}

.gridCell {
  width: 106.25px;
  height: 106.25px;
  margin-right: 15px;
  border-radius: 3px;
  background: rgba(238,228,218,.35);
}

.tileContainer {
  position: absolute;
  z-index: 2;
}

.tile {
  position: absolute;
  transition: 100ms ease-in-out;
  transition-property: transform;
}

.tile,
.tileInner {
  width: 107px;
  height: 107px;
  line-height: 116.25px;
}

.tilePosition-1-1 {
  transform: translate(0px, 0px);
}

.tilePosition-1-2 {
  transform: translate(0px, 121px);
}

.tilePosition-1-3 {
  transform: translate(0px, 242px);
}

.tilePosition-1-4 {
  transform: translate(0px, 363px);
}

.tilePosition-2-1 {
  transform: translate(121px, 0px);
}

.tilePosition-2-2 {
  transform: translate(121px, 121px);
}

.tilePosition-2-3 {
  transform: translate(121px, 242px);
}

.tilePosition-2-4 {
  transform: translate(121px, 363px);
}

.tilePosition-3-1 {
  transform: translate(242px, 0px);
}

.tilePosition-3-2 {
  transform: translate(242px, 121px);
}

.tilePosition-3-3 {
  transform: translate(242px, 242px);
}

.tilePosition-3-4 {
  transform: translate(242px, 363px);
}

.tilePosition-4-1 {
  transform: translate(363px, 0px);
}

.tilePosition-4-2 {
  transform: translate(363px, 121px);
}

.tilePosition-4-3 {
  transform: translate(363px, 242px);
}

.tilePosition-4-4 {
  transform: translate(363px, 363px);
}

.tile {
  position: absolute;
  transition: 100ms ease-in-out;
  transition-property: transform;
}

.tileInner {
  border-radius: 3px;
  background: #eee4da;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  font-size: 55px;
}

.tile-2 .tileInner {
  background: #eee4da;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.tile-4 .tileInner {
  background: #ede0c8;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.tile-8 .tileInner {
  color: #f9f6f2;
  background: #f2b179;
}

.tile-16 .tileInner {
  color: #f9f6f2;
  background: #f59563;
}

.tile-32 .tileInner {
  color: #f9f6f2;
  background: #f67c5f;
}

.tile-64 .tileInner {
  color: #f9f6f2;
  background: #f65e3b;
}

.tile-128 .tileInner {
  color: #f9f6f2;
  background: #edcf72;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
  font-size: 45px;
}

.tile-256 .tileInner {
  color: #f9f6f2;
  background: #edcc61;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
  font-size: 45px;
}

.tile-512 .tileInner {
  color: #f9f6f2;
  background: #edc850;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
  font-size: 45px;
}

.tile-1024 .tileInner {
  color: #f9f6f2;
  background: #edc53f;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
  font-size: 35px;
}

.tile-2048 .tileInner {
  color: #f9f6f2;
  background: #edc22e;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
  font-size: 35px;
}

.tile-super .tileInner {
  color: #f9f6f2;
  background: #3c3a32;
  font-size: 30px;
}
